{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="a url shortener for short people pfft 😆.">
    <meta name="author" content="Erick A. Bautista">
    <title>URL Shortener</title>

    <<!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'app/index.css' %}" rel="stylesheet">
  </head>
  <body class="text-center">
    <form class="form-signin" method="post" novalidate>
      {% csrf_token %}
      <img class="mb-4" src="https://media.giphy.com/media/VJHYCaFRSlE8G9wqyw/giphy.gif" alt="" style="width: 10rem;height: 10rem;border-radius: 50%;">
      <h1 class="h1 mb-3 font-weight-large text-white">URL Shortener</h1>
      {% if error %}
        <div class="alert alert-danger" role="alert">
          Error! Please try again. Make sure that the form is not empty.
        </div>
      {% elif success %}
        <div class="alert alert-info" role="alert">
          Success!
        </div>
      {% endif %}
      <label for="inputUrl" class="sr-only text-white mt-2">URL</label>
      <!--<input type="text" id="inputEmail" class="form-control" placeholder="Enter URL" required autofocus>
      -->
      {{ form.url }}
      <label for="inputSlug" class="sr-only text-white mt-2">Slug</label>
      <!--<input type="text" id="inputPassword" class="form-control" placeholder="Enter Slug" required>-->
      {{ form.slug }}
      <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Create slug</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2021-2022</p>
    </form>
</body>
</html>
